@charset "utf-8";
/* CSS Document */
* {
	box-sizing: border-box;
}
body{
	background:url("background image.jpg")no-repeat fixed top right;
}
#container {
	width: 800px;
	margin: 0 auto;
	background: #D7D0D0
}
.left {
	width:380px;
	height:200px;
	background-color:#9F9F9F;
	border-radius: 25px;
	float: left;
	margin: 0px 10px 10px 15px; 
	padding: 30px 30px 30px 30px;
	border: thick black solid;
	visibility: hidden;
	
	
	  
}
.right {
	width:380px;
	height:200px;
	background-color:#9F9F9F;
	border-radius: 25px;
	float: left;
	margin: 0px 0px 10px 0px;
	padding: 30px 30px 30px 30px;
	border: thick black solid
}
footer{
	background: rgba(229,225,225,1.00)

}



